body {
    margin: 0px;
    min-height: 100vh;
    background: #072346;
    background: linear-gradient(0deg, rgba(7, 35, 70, 1) 0%, rgba(3, 14, 29, 1) 43%);
}

.cont-inicio, .cont-room, .cont-partida, .cont-resultados, .cont-duelo {
    padding-top: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center }







